*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1110px;
    margin: 0  auto;
}
.container-fluid{
    width: 100%;
}
.header{
    padding: 40px 20px;
}
.logo{
    width: 30%;
    display: inline-block;
}
.nav{
    width: calc( 70% - 5px );
    display: inline-block;
}
.nav ul{
    list-style: none;
    text-align: right;
}
.nav li{
    display: inline-block;
    margin-left: 24px;
}
.nav li a{
    font-size: 10px;
    text-decoration: none;
    color: rgb(44, 42, 42);
}
.nav1 ul{
    list-style: none;
    text-align: left;
}
.nav1 li{
    display: inline-block;
    padding: 20px 20px 0 0;
    text-align: left; 
}
.nav1 li a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(44, 42, 42);
}
.section-1{
    position: absolute;
    margin: 100px 600px;
    text-align: center;
}
.trans{
    margin: 0;
    background-color: rgb(252, 177, 190);  
}
.text{
    margin: 0;
    background-color: rgb(252, 177, 190); 
    color: white;
    font-size: 30px;
    text-align: center;
}
.button{
    transition-duration: 0.4s;
}
.button:hover{ 
    background-color: rgb(115, 117, 117); 
    color: rgb(240, 105, 105); 
}
.btn-1{ 
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 30px; 
    border: none; 
    padding: 5px 15px;
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    color:rgb(31, 27, 28); 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px;  
} 
.btn-1:hover{ 
    background-color: rgb(115, 117, 117); 
    color: rgb(240, 105, 105); 
}
.btn-2{ 
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 30px; 
    border: none; 
    padding: 5px 15px;
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    color:rgb(31, 27, 28); 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px;  
} 

.btn-2:hover{ 
    background-color: rgb(115, 117, 117); 
    color: rgb(240, 105, 105); 
}    
.banner{
    height: 80vh;
    background-image: url('../Img/charles-keith-home-s-blooming-spring-collection-week-9-1920x700.jpeg');
    background-size: cover;
}        

.section-1 h1{
    color: pink;
}
.section-1 p{
    color:white;
    padding: 5px 0 5px 0;
}
.section-2{
    padding: 20px 0;
}
.content h1{
    padding: 280px 0 0 0;
}
.content p{
    margin: 8px 0 36px;
}
.link{
    padding: 6px 12px;
    color:white;
    text-decoration: none;
    background-color: rgb(252, 177, 190);
}
.feature{
    vertical-align: middle;
    overflow: hidden;
}
.feature img{
    height: 00%;
    width: 100%;
}
.section-3{
    padding: 20px 0;
}
.img1 img{
    width: 250px;
    height: 300px;
}
.img1 h2{
    font-size: 20px;
    font-weight: 100;
}
.img2 img{
    width: 250px;
    height: 300px;
}
.img2 h2{
    font-size: 20px;
    font-weight: 100;
}
.img3 img{
    width: 250px;
    height: 300px;
}
.img3 h2{
    font-size: 20px;
    font-weight: 100;
}
.img4 img{
    width: 250px;
    height: 300px;
}
.img4 h2{
    font-size: 20px;
    font-weight: 100;
}
.Advertise{
    padding: 20px 0;
}
.container1{
    width: 1110px;
    margin: 0  auto;
    background-color: rgb(245, 163, 176);
}
.content1{
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0 20px 20px;
}
.content1 h3{
    font-weight: 100;
}
.content1 h4{
    color:rgb(243, 8, 47);
    margin: 2px 0 12px;
}
.content1 a{
    text-decoration: underline;
    color: rgb(44, 42, 42);
    padding: 6px 12px;
}
.logo-brand{
    width: calc( 30% - 25px );
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.logo-brand img{
    width: 150px;
    height: 50px;
}
.section-4{
    padding: 20px 0;
}
.text1{
     margin: 0 0 20px 0;
     color: black;
     font-size: 25px;
     font-weight: 200;
     text-align: center;
}
.card1{
   width: 30%;
   background:rgb(243, 203, 203);
   box-shadow: 5px 25px 30px rgba(0, 0, 0, 0.11);
   border-radius: 20px;
   overflow: hidden;
   display: inline-block;
   margin: 0 2%;
}
.feature-img1{
    height: 450px;
    overflow: hidden;
}
.feature-img1 img{
    height: 100%;
    width: 100%;
}
.description-card1{
    padding: 48px 32px;
}
.description-card1 p{
    margin: 12px 0 24px;
}
.meta1 span{
    font-size: 12px;
}
.link1{
    font-size: 12px;
    color:rgb(243, 8, 47);
    float: right;
}
.card2{
    width: 30%;
    background:rgb(243, 203, 203);
    box-shadow: 5px 25px 30px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    margin: 0 1%; 
}
 .feature-img2{
     height: 450px;
     overflow: hidden;
}
 .feature-img2 img{
     height: 100%;
     width: 100%;
}
 .description-card2{
     padding: 48px 32px;
}
 .description-card2 p{
     margin: 12px 0 24px;
}
 .meta2 span{
     font-size: 12px;
}
 .link2{
     font-size: 12px;
     color:rgb(243, 8, 47);
     float: right;
}
.card3{
    width: 30%;
    background:rgb(243, 203, 203);
    box-shadow: 5px 25px 30px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    margin: 0 1%; 
}
 .feature-img3{
     height: 450px;
     overflow: hidden;
}
 .feature-img3 img{
     height: 100%;
     width: 100%;
}
 .description-card3{
     padding: 48px 32px;
}
 .description-card3 p{
     margin: 12px 0 24px;
}
.about-footer p{
    margin: 8px 0 30px;
}
.about-footer img{
    width: 100%;
}
.about-footer img {vertical-align: middle;}
  
.about-footer .contentt{
    position: absolute;
    bottom: 0px;
    background: rgb(131, 28, 45); /* Fallback color */
    background: rgb(131, 28, 45, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 30px;
}
.banner1{
    height: 40vh;
    background-image: url('../Img/charles-keith-home-s-summer-2022-week-14-1920x700.jpeg');
    background-size: cover;
}
.link3{
    color: rgb(243, 8, 47);
    text-decoration: none;
    font-size: 20px;
}
.list{
    background-color: rgb(187, 179, 179);
    padding: 60px 40px;
    vertical-align: top;
}
.list-menu{
    width: 20%;
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
}
.list-menu ul{
    list-style: none;
}
.list-menu li{
    margin-bottom: 12px;
}
.list-menu h3{
     color: white;
}
.list-menu li a{
    color: white;
    text-decoration: none;
}
.list-menu1{
    width: 20%;
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
}
.list-menu1 ul{
    list-style: none;
}
.list-menu1 li{
    margin-bottom: 12px;
}
.list-menu1 h3{
    color: white;
}
.list-menu1 li a{
    color: white;
    text-decoration: none;
}
.list-menu2{
    width: 20%;
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
}
.list-menu2 ul{
    list-style: none;
}
.list-menu2 li{
    margin-bottom: 12px;
}
.list-menu2 h3{
    color: white;
}
.list-menu2 li a{
    color: white;
    text-decoration: none;
}
.infor{
    width: calc( 40% - 40px );
    display: inline-block;
    padding: 20px 40px;
    vertical-align: top;
}
.infor p{
    padding: 20px 0;
    color: white;
}
.coppyright{
    background:rgb(252, 177, 190);
    padding: 12px 0;
    text-align: center;
    color: rgb(100, 97, 97);
}
    